<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;
        }

        .avatar{
            margin: 10px 0;
            border-radius: 50%;
            border: 2px solid white;
        }

        h2{
            margin: 5px 0;
        }
       
      .wrapperInfo {
          padding: 50px;
        width: 400px;
        background-color: rgb(110, 255, 187);
        flex-direction: column;
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="wrapperInfo">
        <h1>Information User</h1>
      <img class="avatar" src="<%= user.img  %>" alt="" />
      <h2>Name : <%= user.userName %></h2>
      <h2>Gender : <%= user.gender %></h2>
      <h2>Place Of Origin : <%= user.placeOfOrigin %></h2>
      <h2>Job : <%= user.job %></h2>
    </div>
  </body>
</html>
